body {
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.container {
    width: fit-content;
}

.header {
    display: inline-flex;
    width:100%;
    flex-flow:row nowrap;
}

.tweet {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    height: 100%;
    width:600px;
    justify-content: center;
    align-content: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
    object-fit: scale-down; /* mantain aspect ratio */
    width: 50px;
    height: 50px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details strong {
    font-weight: bold;
}

.left-side {
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    width: 80%;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
    width: 20%;
}

.tweet-text {
    margin-top: 10px;
}

.tweet-actions {
    margin-top: 10px;
}

.action {
    margin-right: 10px;
    color: #555;
    cursor: pointer;
}

.action:hover {
    text-decoration: underline;
}
